/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */
 
 body {
  text-shadow: 0 .05rem .1rem rgb(237, 234, 234);
  box-shadow: inset 0 0 5rem rgb(0, 0, 0);
  background-size:cover;
  background-color: #66ddd0;
  font-family: 'Anton', sans-serif, 'Righteous', cursive, 'Silkscreen', cursive;
}

.cover-container {
  max-width: 42em;
}

.px-3 {
  padding: 150px;
  align-items: center;
  text-align: center;
  font-family: 'Anton', sans-serif, 'Righteous', cursive, 'Silkscreen', cursive;
}

.lead {
  font-size: 20px;
}


